<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <p>
        <label>Pclass</label>
        <input type="text" name="pclass">
    </p>
    <p>
        <label>Sex</label>
        <input type="text" name="sex">
    </p>
    <p>
        <label>Age</label>
        <input type="text" name="age">
    </p>
    <p>
        <label>SibSp</label>
        <input type="text" name="sibsp">
    </p>
    <p>
        <label>Parch</label>
        <input type="text" name="parch">
    </p>
    <p>
        <label>Fare</label>
        <input type="text" name="fare">
    </p>
    <p>
        <input type="submit">
    </p>
</form>
{% if message %}
<p>{{ message }}</p>
{% endif %}
</body>
</html>